.container {
  max-width: 980px;
  margin: 0 auto;
}
.tb_sideBar {
  width: 192px;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.tb_sideBar ul {
  padding: 0;
  margin: 0;
}
.tb_sideBar ul li {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid grey;
}
.tb_sideBar ul li.active {
  color: red;
}
.tb_sideBar.shouldFixed {
  position: fixed;
}
.tb_sideBar {
  position: relative;
}
.section-tree {
  max-width: 788px;
  float: right;
}
